---
---

@import "{{ site.theme }}";

header {
  border-bottom: 1px dashed #aa0000;;
}

header h1 {
  color: #aa0000;
}

h1, h2, h3, h4, h5, h6 {
  color: #aa0000;
  text-shadow: none !important;
}

body{
  color: #999 !important;
  font-family: "Times New Roman", Times, serif !important;
  text-shadow: none !important;
}

a {
    color: #999;
    text-shadow: none;
}
